<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<base_path>/</base_path>
	<sitemap_path>/</sitemap_path>
	<extensions>htm,html,asp,aspx,php,php3,phtml,shtm,shtml,cfm,jsp,pl</extensions>
	<default_file>default,index</default_file>
	<frontpage ignore="true">_vti_cnf,_private</frontpage>
	<aspnet_client ignore="true">aspnet_client</aspnet_client>
	<directories ignore="true">sitemapdotnet,prod,bin</directories>
	<log_directory include="false" full_logical_path="false">Log/W3SVC62</log_directory>
	<permissions>
		<username></username>
		<password></password>
	</permissions>
	<defaults>
		<changefreq>weekly</changefreq>
		<priority>0,8</priority>
	</defaults>
</configuration>
